:root {
  /* Light-theme-color */
  --primary-light-text: #212121;
  --secondary-light-text: #757575;
  --primary-light-bg: #ffffff;
  --secondary-light-bg: #e5e5e5;
  /* Dark-theme-color */
  --primary-dark-text: #ffffff;
  --dark-bg: #2f303a;
  /* Grey-theme-color */
  --primary-grey-bg: #f5f4fa;
  --akcent-color-text: #2196f3;
  /* Card-set-gap */
  --card-set-gap: 30px;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--primary-light-bg);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.header-list {
  display: flex;
  padding-left: 0;
}
.header-it:not(:last-child) {
  margin-right: 50px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.link-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-light-text);
  text-decoration: none;
  margin-right: 93px;
}
.link-logo span {
  color: var(--akcent-color-text);
}
.header-it-link,
.header-mail,
.header-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-it-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-light-text);
}
.nav-contacts {
  display: flex;
  margin-left: auto;
  padding-left: 0;
}
.nav-contacts .contacts-link + .contacts-link {
  margin-left: 50px;
}

.header-mail,
.header-tel {
  color: var(--secondary-light-text);
}
.header-it-link:hover,
.header-it-link:focus,
#currentlink {
  color: var(--akcent-color-text);
  cursor: pointer;
}
.header-mail:hover,
.header-tel:focus,
.header-mail:focus,
.header-tel:hover {
  color: var(--akcent-color-text);
  cursor: pointer;
}
/* Section Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--dark-bg);
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-dark-text);
}
.hero-btn {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-dark-text);
  background-color: var(--akcent-color-text);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}
/* Common properties */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-light-text);
}
.header-list,
.nav-contacts,
.feature-list,
.projects-list,
.team-list,
.footer-list,
.portfolio-list,
.portfolio-menu {
  list-style: none;
}
.features > .section-title,
.portfolio-title {
  visibility: hidden;
  height: 0px;
}

/* Section features */
.features {
  padding: 94px 0px 94px 0px;
}
.feature-list {
  display: flex;
  margin: 0;
}
.feature-it {
  width: 270px;
  margin-right: 30px;
}
.feature-it:nth-last-child(-n + 1) {
  margin-right: 0px;
}

.feature-subtitle {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-light-text);
}
.feature-dscr {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-light-text);
}

/* Section our-projects */
.our-projects {
  padding-bottom: 94px;
}
.our-projects .section-title {
  margin-bottom: 50px;
}
.projects-list {
  display: flex;
  margin: 0;
}
.projects-it:not(:nth-last-child(-n + 1)) {
  margin-right: 30px;
}
/* Section our team */
.our-team {
  padding: 94px 0px 94px 0px;
  background-color: var(--primary-grey-bg);
}
.our-team .section-title {
  margin-bottom: 50px;
}
.team-it-name,
.team-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list {
  display: flex;
  margin-right: auto;
}
.team-it-dscr {
  padding: 30px 0px 30px 0px;
  background-color: var(--primary-light-bg);
}
.team-it {
  width: calc(1170 / 4 - var(--card-set-gap));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-it:not(:nth-last-child(-n + 1)) {
  margin-right: 30px;
}
.team-it-name {
  margin-bottom: 10px;
  color: var(--primary-light-text);
}
.team-position {
  color: var(--secondary-light-text);
}

/* Footer */
.footer {
  background-color: var(--dark-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
address {
  font-style: inherit;
  margin-top: 20px;
}
.footer-logo {
  display: inline-block;
  font-family: Raleway;
  font-style: 400;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-dark-text);
  text-decoration: none;
}
.footer-logo span {
  color: var(--akcent-color-text);
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-dark-text);
}
.footer-list,
.footer-contacts:last-child {
  margin-top: 9px;
}
.footer-mail,
.footer-tel {
  display: inline-block;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--akcent-color-text);
  cursor: pointer;
}

/* Portfolio page */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn > [type="button"] {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-light-text);
  background-color: var(--primary-grey-bg);
}
.portfolio-btn {
  margin-right: 8px;
}
.portfolio-btn:nth-last-child(1) {
  margin-right: 0px;
}

.portfolio [type="button"]:hover,
.portfolio [type="button"]:focus,
.portfolio .current-btn {
  cursor: pointer;
  color: var(--primary-dark-text);
  background-color: #2196f3;
}
.portfolio .current-btn {
  color: var(--primary-dark-text);
  background-color: #2196f3;
}
.portfolio-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-light-text);
}
.portfolio-filter-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-light-text);
}
.portfolio-link {
  text-decoration: none;
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.portfolio-it {
  width: 370px;
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
}
.portfolio-it:nth-child(3n) {
  margin-right: 0;
}
.portfolio-it:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-dscr {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-subtitle {
  margin-bottom: 4px;
}
